.App {
  text-align: center;
}

.header {
  top: 0;
  /* width: 100%; */
  height: 70px;
  /* background-color: #ffeb70; */
  background-color: #70ffc3;
}

::-webkit-scrollbar {
  display: none;
}

.footer {
  background-color: rgb(215, 240, 217);
}

.homecss {
  background-color: bisque;
}

.user {
  background-color: rgba(243, 193, 152, 0.918);
}

.custom-tooltip {
  --bs-tooltip-bg: var(--bs-primary);
}


/* ************************************* */

.page-link {
  line-height: 16px;
  width: 45px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #495057;
}

.page-link:hover {
  text-decoration: none;
  color: #495057;
  outline: none !important;
}

.page-link:focus {
  box-shadow: none;
}

.page-item input {
  line-height: 22px;
  padding: 3px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}